body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #5f9341;
}

button {
  background-color: #5f9341;
  color: white;
  margin-top: 4px;
  padding: 10px 20px;
  font-weight: bold;
  border: 2px solid #5f9341;
}

#delete-btn {
  background-color: white;
  color: #5f9341;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
}

li {
  text-decoration: none;
  margin-top: 5px;
}

a {
  color: #5f9341;
}
